<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            background: url("http://wallpapercave.com/wp/CZ4iUQM.jpg") no-repeat center center fixed;
        }
        wrap{
            text-align:center;
        }
    </style>

    <title>TUFC</title>

</head>
<body>
    <div class="wrap">
        <script>
            function redirect(){
                window.location.href = "/";
            }
            setTimeout(redirect, 2000);
        </script>
        {% block body %}
            {% if yes %}
                <p class="success">Your account has been deleted!</p>
            {% else %}
                <p class="success">Your account is saved!!</p>
            {% endif %}
            <p class="redirect">Redirecting to Main Page...</p>
        {% endblock %}
    </div>
</body>
</html>


